<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Bootstrap Link -->

    <!-- CSS Link -->
    <link rel="stylesheet" type="text/css" href="css/box.css" />
    <!-- CSS Link -->
</head>

<body>
    <table style="margin: 50px;">
        <tbody>
            <tr>
                <td>
                    <div class="card" style="width: 18rem; overflow: hidden;">

                        <img src="https://image.shutterstock.com/z/stock-photo-css-code-on-dark-background-in-code-editor-and-word-css-1893752428.jpg"
                            class="card-img-top" alt="...">

                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </td>
                <th></th>
            </tr>
            <tr>
                <th>Hi1</th>
                <th>Hi1</th>
            </tr>
        </tbody>
    </table>
</body>

</html>