<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Bootstrap Link -->

    <!-- CSS Link -->
    <link rel="stylesheet" type="text/css" href="css/eventDetail.css" />
    <!-- CSS Link -->

</head>

<body>
    <div class="event-banner">
        <div class="event-heading">
            <h1>My Heading is that the Heading here is Heading.<br><br><br><br> My Heading is that the Heading here is
                Heading.</h1>
        </div>
    </div>
    <!-- <div class="card event-wrapper" style="width: 18rem; overflow: hidden; margin-top: -250px;">

        <img src="https://image.shutterstock.com/z/stock-photo-css-code-on-dark-background-in-code-editor-and-word-css-1893752428.jpg"
            class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>

            <div class="event-time event-grid">

                <div class="grid-child">
                    <img src="/icons/calendar.png" alt="" style="width: 100%; padding-bottom: 50px;">
                </div>

                <div class="grid-child">
                    <h6>Time</h6>
                    <p>24 April <br> Friday <br> 5:00 PM</p>
                </div>

            </div>
            <div class="event-mail event-grid">

                <div class="grid-child">
                    <img src="/icons/email.png" alt="" style="width: 100%; padding-bottom: 50px;">
                </div>

                <div class="grid-child">
                    <h6>Email</h6>
                    <p>24 April <br> Friday <br> 5:00 PM</p>
                </div>

            </div>
            <div class="event-group event-grid">

                <div class="grid-child">
                    <img src="/icons/group.png" alt="" style="width: 100%; padding-bottom: 50px;">
                </div>

                <div class="grid-child">
                    <h6>Group</h6>
                    <p>24 April <br> Friday <br> 5:00 PM</p>
                </div>

            </div>
            <div class="event-placeholder event-grid">

                <div class="grid-child">
                    <img src="/icons/placeholder.png" alt="" style="width: 100%; padding-bottom: 50px;">
                </div>

                <div class="grid-child">
                    <h6>placeholder</h6>
                    <p>24 April <br> Friday <br> 5:00 PM</p>
                </div>

            </div>
        </div>
    </div> -->
    <div class="event-detail">

        <div class="card event-wrapper" style="width: 18rem; overflow: hidden; margin-top: -250px;">

            <img src="https://image.shutterstock.com/z/stock-photo-css-code-on-dark-background-in-code-editor-and-word-css-1893752428.jpg"
                class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>

                <div class="event-time event-grid">

                    <div class="grid-child">
                        <img src="/icons/calendar.png" alt="" style="width: 100%; padding-bottom: 50px;">
                    </div>

                    <div class="grid-child">
                        <h6>Time</h6>
                        <p>24 April <br> Friday <br> 5:00 PM</p>
                    </div>

                </div>
                <div class="event-mail event-grid">

                    <div class="grid-child">
                        <img src="/icons/email.png" alt="" style="width: 100%; padding-bottom: 50px;">
                    </div>

                    <div class="grid-child">
                        <h6>Email</h6>
                        <p>24 April <br> Friday <br> 5:00 PM</p>
                    </div>

                </div>
                <div class="event-group event-grid">

                    <div class="grid-child">
                        <img src="/icons/group.png" alt="" style="width: 100%; padding-bottom: 50px;">
                    </div>

                    <div class="grid-child">
                        <h6>Group</h6>
                        <p>24 April <br> Friday <br> 5:00 PM</p>
                    </div>

                </div>
                <div class="event-placeholder event-grid">

                    <div class="grid-child">
                        <img src="/icons/placeholder.png" alt="" style="width: 100%; padding-bottom: 50px;">
                    </div>

                    <div class="grid-child">
                        <h6>placeholder</h6>
                        <p>24 April <br> Friday <br> 5:00 PM</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="event-content">
            <h2>Event Details:</h2>
            <p>The color property is used to set the color of the text. The color is specified by:

                a color name - like "red"
                a HEX value - like "#ff0000"
                an RGB value - like "rgb(255,0,0)"
                Look at CSS Color Values for a complete list of possible color values.

                The default text color for a page is defined in the body selector.</p>
        </div>

    </div>
</body>

</html>